<%= form_for(@push_notification, url: send_message_path) do |f| %>
  <div class="field">
    <%= f.label :Message %><br>
    <%= f.text_field :message %>
  </div>
  <div class="actions">
    <%= f.submit "Send Push Notification", class: "btn btn-primary" %>
  </div>
<% end %>
